---
layout: base
---

<section class="cs-projects">
        <div class="cs-sp-title-container">
            <div>
                <div class="cs-sp-title-image"
                     style="background-image: url('{{site.data.data.specific_project.title_image}}')">
                </div>
            </div>

            <div class="center-align">
                <h1 class="cs-sp-title center-align">Projects</h1>
            </div>
        </div>

        <div class="container">
            <div class="row cs-projects-card-wrapper">
                {% for project in site.data.data.projects %}
                    {% include project/project_card.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>