//@mixin animate-icon ($)

$tool-duration: 1s;
$cover-delay: 14.5s;  // How many tools there are

@keyframes tool-appear {
    0% {
        opacity: 0;
        visibility: visible;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes tool-appear-2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin tool-animation ($start-time, $color) {
    color: $color;
    animation: tool-appear $tool-duration ease $start-time;
    animation-fill-mode: forwards;
}


.icon__container {

    &:hover {

        #resume__icon {

            .resume__page--cover {
                opacity: 0;
                transition: opacity 0.5s;
                animation: tool-appear-2 1s ease $cover-delay;
                animation-fill-mode: forwards;
            }

            .resume__page--tool--1 {
                @include tool-animation(0.5s, $accent-color);
            }
            
    
            .resume__page--tool--2 {
                @include tool-animation(1.5s, $accent-color);
            }
    
            .resume__page--tool--3 {
                @include tool-animation(2.5s, $accent-color);
            }
    
            .resume__page--tool--4 {
                @include tool-animation(3.5s, $accent-color);
            }
     
            .resume__page--tool--5 {
                @include tool-animation(4.5s, $accent-color);
            }
    
            .resume__page--tool--6 {
                @include tool-animation(5.5s, $accent-color);
            }
    
            .resume__page--tool--7 {
                @include tool-animation(6.5s, $accent-color);
            }
    
            .resume__page--tool--8 {
                @include tool-animation(7.5s, $accent-color);
            }
    
            .resume__page--tool--9 {
                @include tool-animation(8.5s, $accent-color);
            }
    
            .resume__page--tool--10 {
                @include tool-animation(9.5s, $accent-color);
            }
    
            .resume__page--tool--11 {
                @include tool-animation(10.5s, $accent-color);
            }
    
            .resume__page--tool--12 {
                @include tool-animation(11.5s, $accent-color);
            }
    
            .resume__page--tool--13 {
                @include tool-animation(12.5s, $accent-color);
            }

            .resume__page--tool--14 {
                @include tool-animation(13.5s, $accent-color);
            }
        }
    }

    #resume__icon {

        .resume__page--cover {
            opacity: 1;
            transition: opacity 0.2s;
        }

        .resume__page--tool--1 {
            visibility: hidden;
        }

        .resume__page--tool--2 {
            visibility: hidden;
        }

        .resume__page--tool--3 {
            visibility: hidden;
        }

        .resume__page--tool--4 {
            visibility: hidden;
        }

        .resume__page--tool--5 {
            visibility: hidden;
        }

        .resume__page--tool--6 {
            visibility: hidden;
        }

        .resume__page--tool--7 {
            visibility: hidden;
        }

        .resume__page--tool--8 {
            visibility: hidden;
        }

        .resume__page--tool--9 {
            visibility: hidden;
        }

        .resume__page--tool--10 {
            visibility: hidden;
        }

        .resume__page--tool--11 {
            visibility: hidden;
        }

        .resume__page--tool--12 {
            visibility: hidden;
        }

        .resume__page--tool--13 {
            visibility: hidden;
        }

        .resume__page--tool--14 {
            visibility: hidden;
        }
    }
}