//@mixin animate-icon ($)

$tool-duration: 1s;

@keyframes tool-appear {
    0% {
        opacity: 0;
        visibility: visible;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.icon__container {

    &:hover {

        #resume__icon {

            .resume__page--tool--1 {
                color: $accent-color;
                animation: tool-appear $tool-duration ease;
                animation-fill-mode: forwards;
            }
            
    
            .resume__page--tool--2 {
                color: $accent-color;
                animation: tool-appear $tool-duration ease 1s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--3 {
                color: $accent-color;
                animation: tool-appear 1s ease 2s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--4 {
                color: $accent-color;
                animation: tool-appear 1s ease 3s;
                animation-fill-mode: forwards;
            }
     
            .resume__page--tool--5 {
                color: $accent-color;
                animation: tool-appear 1s ease 4s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--6 {
                color: $accent-color;
                animation: tool-appear 1s ease 5s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--7 {
                color: $accent-color;
                animation: tool-appear 1s ease 6s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--8 {
                color: $accent-color;
                animation: tool-appear 1s ease 7s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--9 {
                color: $accent-color;
                animation: tool-appear 1s ease 8s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--10 {
                color: $accent-color;
                animation: tool-appear 1s ease 9s;
                animation-fill-mode: forwards;
            }
    
            .resume__page--tool--11 {
                visibility: hidden;
            }
    
            .resume__page--tool--12 {
                visibility: hidden;
            }
    
            .resume__page--tool--13 {
                visibility: hidden;
            }
        }
    }

    #resume__icon {

        .resume__page--left {
            //transform: rotateZ(10deg);
            animation: resume-page-left 3s infinite;
            animation-timing-function: ease;
            transform-origin: left;
        }

        .resume__page--tool--1 {
            visibility: hidden;
        }

        .resume__page--tool--2 {
            visibility: hidden;
        }

        .resume__page--tool--3 {
            visibility: hidden;
        }

        .resume__page--tool--4 {
            visibility: hidden;
        }

        .resume__page--tool--5 {
            visibility: hidden;
        }

        .resume__page--tool--6 {
            visibility: hidden;
        }

        .resume__page--tool--7 {
            visibility: hidden;
        }

        .resume__page--tool--8 {
            visibility: hidden;
        }

        .resume__page--tool--9 {
            visibility: hidden;
        }

        .resume__page--tool--10 {
            visibility: hidden;
        }

        .resume__page--tool--11 {
            visibility: hidden;
        }

        .resume__page--tool--12 {
            visibility: hidden;
        }

        .resume__page--tool--13 {
            visibility: hidden;
        }
    }
}