
html {
  height: 100%;

  body {
    height: 100%;
    font-size: 16px;
    background-color: $cs-color-simple-background;
  }


  a {
    // Fix materialize css default
    color: $cs-color-simple-text;
  }

  .cs-content {
    min-height: 100%;
    padding-top: 50px;

    .cs-simple-base {
      padding: 0 20px 20px 20px;
      margin: 0 auto 0 auto;
      min-height: 100%;
      max-width: 40%;
      font-family: $cs-font-simple-content;
      background-color: $cs-color-simple-main-background;


      .cs-simple-base-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: flex-end;

        .cs-simple-base-title {
          flex: 1 0 auto;
          margin: 0 auto;
          cursor: pointer;
          color: $cs-color-simple-text;
          font-family: $cs-font-simple-title;

          &:hover {
            //text-decoration-color: $cs-color-simple-accent;
          }

        }
      }

      .cs-simple-content {
        margin-top: 40px;

        li {
          margin-bottom: 20px;
        }
      }

      .cs-simple-link {
        color: $cs-color-simple-text;
        font-weight: 600;
        font-size: .9rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: $cs-color-simple-accent;
        }
      }
    }
  }

  .cs-simple-content-box {
    box-shadow: 0px 1px 10px 0px $cs-color-simple-box-shadow
  }

  //Mobile & Tablet
  @media only screen and (max-width: 1400px) {
    .cs-simple-base {
      max-width: 50%;
    }
  }

  //Mobile & Tablet
  @media only screen and (max-width: 1200px) {
    .cs-simple-base {
      max-width: 60%;
    }
  }

  //Mobile & Tablet
  @media only screen and (max-width: 900px) {
    .cs-simple-base {
      max-width: 70%;
    }
  }

  //Mobile & Tablet
  @media only screen and (max-width: 768px) {
    .cs-simple-base {
      max-width: 80%;
    }
  }
}

//Flex Box To Center
//@media only screen and (max-width: 600px) {
//  .cs-simple-base {
//
//    .cs-simple-base-container {
//      justify-content: center;
//
//      .cs-simple-base-title {
//        flex: 0 0 auto;
//      }
//    }
//  }
//}


