<!DOCTYPE html>
<html>
    <head>
        <title>Event Grid</title>
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/bin/materialize.css">
        <script src="../assets/js/pixi.js"></script>
    </head>
    <body>
        <h1 class="header instruction">Start Typing, Moving the Mouse, and Clicking</h1>
    </body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../node_modules/materialize-css/bin/materialize.js"></script>
    <script src="../js/app.js"></script>
</html>