<div id="cs-solar-vr-display">
    <div class="row">
        <form class="cs-solar-vr-form col s6">
            <p class="range-field">
                <label>Tilt Angle: <% tiltAngle %></label>
                <input type="range" id="cs-solar-vr-tilt-angle" min="0" max="360" />
            </p>
            <p class="range-field">
                <label>Elevation Angle: <% elevationAngle %></label>
                <input type="range" id="cs-solar-vr-elevation-angle" min="0" max="360" />
            </p>
        </form>
        <div class="col s6">
            <h4>Solar Efficiency: <% solarEfficiency %>%</h4>
        </div>
    </div>


</div>