


// Desktop
@media (min-width: 701px) {

    html {
        //font-size: 62.5%;
        .mobile {
            display: none;
        }
    }
    
}

// Tablet/small desktop
@media (max-width: 700px) {

    html {
        //font-size: 50%;

        .desktop {
            display: none;
        }

        .text__content {
            font-size: 56%;
        }

    }

    // .text__content {
    //     font-size: 50%;
    // }
    
}

// Mobile
@media (max-width: 500px) {
    html {
    //font-size: 62.5%;
        
        .desktop {
            display: none;
        }

        .text__content {
            font-size: 50%;
        }
    }
}