

@media (min-width: 701px) {

    body {
        .mobile {
            display: none;
        }
    }
    
}

@media (max-width: 700px) {
    .desktop {
        display: none;
    }
}


@media (max-width: 500px) {
    body {
        font-size: .8rem;
        
        .desktop {
            display: none;
        }
    }
}