$background-image: url('/assets/images/background/preview.jpg');

$accent-color-blue: #5588ff;
$accent-color-light-blue: #5588ff;
$accent-color-green: #11BB6C;
$accent-color-purple: #9A75D4;
$accent-color-violet: #D090D7;
$accent-color-red: #DF7280;
$accent-color-orange: #F3B85A;
$accent-color-dark-blue: #1851d8;
$accent-color-dark-green: #118d53;
$accent-color-black: #292929;
$accent-color-blue-trans: #0aadd5;

$accent-color: $accent-color-blue;



$theme-mono-color-1: #F6FAFB;
$theme-mono-color-2: #C3CACD;
$theme-mono-color-3: #97A1A4;
$theme-mono-color-4: #717C80;
$theme-mono-color-5: #49565A;
$theme-mono-color-6: #1F282C;

// Profile Image

$profile-sun: yellow;
$profile-cloud: white;
$profile-face: #ffdbac;
$profile-eyes: #686BCF;
$profile-person: rgb(172, 117, 138);
$profile-cap: $theme-mono-color-6;
$profile-background: skyblue;


// Fonts
$default-font: 'Maven Pro', sans-serif;
$font-roboto: 'Roboto', sans-serif;
// Delays

$title-fade-in-time: 3.5s;



$background-color: $theme-mono-color-4;

