$background-image: url('/assets/images/background/gray.jpg');

$accent-color: #5588ff;
$accent-color-light-blue: #5588ff;
$accent-color-green: #11BB6C;
$accent-color-purple: #9A75D4;
$accent-color-violet: #D090D7;
$accent-color-red: #DF7280;


$theme-mono-color-1: #F6FAFB;
$theme-mono-color-2: #C3CACD;
$theme-mono-color-3: #97A1A4;
$theme-mono-color-4: #717C80;
$theme-mono-color-5: #49565A;
$theme-mono-color-6: #1F282C;

$background-color: $theme-mono-color-4;

