<section class="cs-sp-title-buttons">
    {% if project.download_url != "" %}
        <span class="cs-sp-title-button">
            <a href="{{project.download_url}}" class="waves-effect waves-light btn-large">
                <i class="fa fa-fw fa-download" aria-hidden="true"></i>Download</a>
        </span>
    {% endif %}

    {% if project.demo_url != "" %}
        <span class="cs-sp-title-button">
            <a href="{{project.demo_url}}" class="waves-effect waves-light btn-large">
                <i class="fa fa-fw fa-flask" aria-hidden="true"></i>Demo</a>
        </span>
    {% endif %}

    {% if project.github_url != "" %}
    <span class="cs-sp-title-button cs-borderless-gallery-github">
            <a href="{{project.github_url}}" class="waves-effect waves-light btn-large">
                <i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
        </span>
    {% endif %}
    <span></span>
</section>