<section class="col s12 cs-project-card">


    <div class="hide-on-small-and-down cs-project-card-large">
        <h2 class="header">{{project.name}}</h2>
        <a href="{{project.cs_url}}" class="card horizontal">
            <div class="card-image">
                <img src="{{project.images[0]}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{project.short_des}}</p>
                </div>
                <!--<div class="card-action">-->
                <!--<a href="#">This is a link</a>-->
                <!--</div>-->
            </div>
        </a>
    </div>

    <div class="hide-on-med-and-up cs-project-card-small">
        <a href="{{project.cs_url}}" class="card">
            <div class="card-image">
                <img src="{{project.images[0]}}">
                <span class="card-title">{{project.name}}</span>
            </div>
            <div class="card-content">
                <p>{{project.short_des}}</p>
            </div>
        </a>
    </div>


</section>