#vr-resume {
    display: flex;
    justify-content: center;
    background: $theme-mono-color-1;
    height: 170px;

    .header {
        margin-top: 20%;
        display: flex;
        font-size: 1rem;
    }
}