.welcome__container {
    vertical-align: top;
    white-space: nowrap;
    margin-bottom: 150px;

        .welcome__title { 
            vertical-align: top;
            display: inline-block;

        .welcome__cursor {
            color: limegreen;
        }

        .welcome__sub__title {
            display: inline-block;
            //animation: title-fade-in 0.5s  ease;
            //animation-delay: $title-fade-in-time;
        }
    }
}

@keyframes title-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}