$background-color: #fefefe;
$accent-color: #5588ff;

$theme-mono-color-1: #F6FAFB;
$theme-mono-color-2: #C3CACD;
$theme-mono-color-3: #97A1A4;
$theme-mono-color-4: #717C80;
$theme-mono-color-5: #49565A;
$theme-mono-color-6: #1F282C;


