.cs-welcome_wrapper {
	height: 100%;
	margin-top: 50px;

	h1 {
		font-size: 3rem;
		margin-bottom: 10vh;
		font-weight: 700;
	}

	.cs-welcome_sub-header_wrapper {
		> * {
			margin: 0 1rem;
		}

		a {
			text-decoration: none;
			font-size: 2rem;
			color: #1460aa;
			font-weight: 400;
		}
	}

	.cs-home_image_wrapper {
		position: absolute;
		top: -100px;
		z-index: -1;
	}
}
