$primary-color: #333;

$theme-1: #212A3F;
$theme-2: #434F5B;
$theme-3: #F2F2F2;
$theme-4: #8AB839;
$theme-5: #2E2E2E;

$theme-6: #007BB6;
$theme-7: #0C327F;

$cs-accent-color-1: #168815;
$cs-accent-color-1-dark: #175716;

$cs-color-simple-accent: #007bb6;
$cs-color-simple-accent-alt: #0f19a8;
$cs-color-simple-text: #000000;