.cs-borderless-gallery {
  padding: 50px 0;

  img {
    padding: 0;
    margin: 0;
  }

  .cs-borderless-gallery-img-phone {
    width: 100%;
  }

  .cs-borderless-gallery-img-desktop{
    width: 33%;
  }
}