
@import "colors";
@import "animations";

@mixin cs-box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
}

@mixin cs-fade-in-background($timeIn) {
  -webkit-transition: background $timeIn linear;
  -moz-transition: background $timeIn linear;
  -ms-transition: background $timeIn linear;
  -o-transition: background $timeIn linear;
  transition: background $timeIn linear;
}

@mixin cs-fade-in-color($timeIn) {
  -webkit-transition: color $timeIn linear;
  -moz-transition: color $timeIn linear;
  -ms-transition: color $timeIn linear;
  -o-transition: color $timeIn linear;
  transition: color $timeIn linear;
}