.cs-nav {

  $fade-color-time : 100ms;
  $logo-offset: 200px;

  nav {
    border-bottom: solid 1px $nav-background-color;
    box-shadow: none;

    .cs-nav-btn-active{
      background: $theme-4;
    }

    .nav-wrapper {
      background: $nav-background-color;

      .brand-logo {
        cursor: pointer;
      }

      li{
        font-size: 18px;
        font-weight: 400;
        background: $nav-background-color;
        cursor: pointer;
        @include cs-fade-in-background($fade-color-time);

        i {
          font-size: 2rem;
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      li:hover {
        background: $theme-4;
        @include cs-fade-in-background($fade-color-time);
      }

      .cs-main-nav {
        margin-left: $logo-offset;

      }

      .cs-side-nav {
        margin-top: $nav-height;
        background: $theme-1;
        color: $theme-3;

        li {
          padding: 0;
          background-color: $theme-2;
          border-bottom: solid 1px $theme-5;

          a {
            font-size: 20px;
            font-weight: 300;

            i {
              font-size: inherit;
            }

            padding: 0 20px;
            color: $theme-3;
          }
        }

        .divider {
          color: $theme-3;
        }
      }

      .cs-siteicon {
        margin-left: $buffer;

        &:hover {
          color: $theme-4;
          @include cs-fade-in-color($fade-color-time);
        }
      }
      .cs-mobile-menu {
        margin-right: $buffer;
        cursor: pointer;
      }
      .cs-mobile-back {
        margin-left: ($buffer - 5px); //Back button offset because centered icon
        width: 40px; //Need set otherwise takes up half of the navbar
        cursor: pointer;
      }
    }
  }
}