body {
  font-size: 16px;
}


.cs-simple-base {
  margin: 50px auto 0 auto;
  max-width: 40%;
  font-family: $cs-font-simple-content;


  .cs-simple-base-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;

    .cs-simple-base-title {
      flex: 1 0 auto;
      margin: 0 auto;
      cursor: pointer;
      color: $cs-color-simple-text;
      font-family: $cs-font-simple-title;

      &:hover {
        //text-decoration-color: $cs-color-simple-accent;
      }

    }
  }

  .cs-simple-content {

    li {
      margin-bottom: 20px;
    }
  }

  .cs-simple-link {
    color: $cs-color-simple-text;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $cs-color-simple-accent;
    }
  }
}


//Mobile
@media only screen and (max-width: 768px) {
  .cs-simple-base {
    max-width: 80%;
  }
}


