.cs-simple-nav {
  display: inline;

  .cs-simple-nav-bar {
    display: inline;
    padding-top: 20px;
    font-family: $cs-font-simple-content;

    li {
      display: inline;
      margin: 0 5px;

      a {
        //padding: 0;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        color: $cs-color-simple-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}