.cs-simple-nav-content {

  li {
    margin-bottom: 20px;

    .cs-simple-blog-post-excerpt {
      margin-bottom: 0;
    }
  }

  .cs-simple-blog-title {
    display: inline;
    color: $cs-color-simple-text;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: $cs-font-simple-title;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-date {
    float: right;
  }
}