body {
  font-size: 16px;
}


.cs-simple-base {
  margin: 100px auto 0 auto;
  max-width: 40%;
  font-family: $cs-font-simple-content;


  .cs-simple-base-title-container {

    .cs-simple-base-title {
      width: 295px;
      margin: 0 auto;
      cursor: pointer;
      color: $cs-color-simple-text;
      font-family: $cs-font-simple-title;

      &:hover {
        //text-decoration-color: $cs-color-simple-accent;
      }

    }
  }

  .cs-simple-nav {
    padding-top: 20px;
    font-family: $cs-font-simple-content;

    .cs-simple-nav-bar {

      a {
        //padding: 0;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        color: $cs-color-simple-text;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $cs-color-simple-accent;
        }
      }
    }
  }

  .cs-simple-nav-content {

    li {
      margin-bottom: 20px;

      .cs-simple-post-excerpt {
        margin-bottom: 0;
      }
    }

    .cs-simple-blog-title {
      display: inline;
      color: $cs-color-simple-text;
      font-weight: bold;
      font-size: 1.5rem;
      cursor: pointer;
      font-family: $cs-font-simple-title;

      &:hover {
        text-decoration: underline;
      }
    }

    .post-date {
      float: right;
    }
  }

  .cs-simple-link {
    color: $cs-color-simple-text;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $cs-color-simple-accent;
    }
  }
}


//Mobile
@media only screen and (max-width: 768px) {
  .cs-simple-base {
    max-width: 80%;
  }
}


