<li>
    <h3 class="cs-{{group}}-blog-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h3>


    <p class="cs-{{group}}-blog-post-excerpt">
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}<a class="cs-{{group}}-link" href="{{ site.baseurl }}{{ post.url }}">...</a>
    </p>
    <a class="cs-{{group}}-link" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
    <a class="post-date cs-{{group}}-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: '%b %-d, %Y' }}</a>

    <!-- Clean up -->
    {% assign group = null %}
</li>