
.image-viewer__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .image-viewer__container {
        max-width: 60%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: 15%;
        position: relative;

        .image-viewer__close-button {
            position: absolute;
            padding: 5px;
            //background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.177));
            box-shadow: none;
            color: rgb(243, 243, 243);
            border: none;
            right: 0;

            &:hover {
                color: $accent-color-red;
                transform: none;
            }
        }

        .image-viewer__arrow--left {
            background-color: $cs-button-blue;
            position: absolute;
            left: -10%;

            &:hover {
                background-color: darken($cs-button-blue, $amount: 10%);
            }
        }
    
        .image-viewer__arrow--right {
            background-color: $cs-button-blue;
            position: absolute;
            right: -10%;

            &:hover {
                background-color: darken($cs-button-blue, $amount: 10%);
            }
        }
    
        .image-viewer__image {
            max-width: 100%;
            max-height: 680px;
            width: auto;
            height: auto;
            user-select: none;
            box-shadow: 1px 1px 15px 0px #222222;
        }
    }
}
