.nav {
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    top: 0;
    left: 0;


    .nav__item {
        font-size: 2rem;
        //font-family: 
        display: inline-block;
        color: $theme-mono-color-5;
        cursor: pointer;
        list-style-type: none;
        text-align: center;
        font-family: 'Maven Pro', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
            color: $accent-color;
            
            .nav__item--note {
                visibility: visible; 
            }
        }

        .nav__item--note {
            position: relative;
            visibility: hidden;
            top: 0;
            left: 0;
        }

        // &:not(:first-child) {
        //     padding-bottom: 4rem;
        // }

        // &:not(:last-child) {
        //     padding-bottom: 4rem;
        // }
    }
}