
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // 10px b/c 16px is browser default
    //background: $background-color;
    box-sizing: border-box;
    overflow: hidden;

    body {
        background: $background-image;
    } 
}