
<section>
    <div class="cs-nav">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo cs-siteicon">CicilioStudio</a>
                    <a href="#" data-activates="mobile-nav" class="right button-collapse cs-mobile-menu"><i class="material-icons">menu</i></a>
                    <a class="left button-collapse cs-mobile-back"><i class="material-icons">arrow_backwords</i></a>

                    <!--Main Nav-->
                    <ul class="hide-on-med-and-down cs-main-nav">
                        <li href="/" class="tooltipped"
                            data-position="bottom" data-delay="10" data-tooltip="Home">
                            <a href="/"><i class="material-icons left">home</i></a></li>
                        <li>
                            <a href="/projects" class='dropdown-button cs-dropdown-projects-btn' data-beloworigin="true" data-activates='dropdown-projects'>
                                Projects<i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <li class="tooltipped cs-not-available" data-position="bottom" data-delay="10"
                            data-tooltip="Unavailable"><a href="/life">Life</a></li>
                        <li class="tooltipped cs-not-available" data-position="bottom" data-delay="10"
                            data-tooltip="Unavailable"><a href="/blog">Blog</a></li>
                        <li class="tooltipped cs-not-available" data-position="bottom" data-delay="10"
                            data-tooltip="Unavailable"><a href="/resume">Resume</a></li>

                        <a class="right cs-fa-linkedin-square tooltipped" href="https://www.linkedin.com/in/dominic-cicilio-96461786"
                           data-position="bottom" data-delay="10" data-tooltip="Linkedin">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                        <a class="right cs-fa-github-square tooltipped" href="https://github.com/lance13c"
                           data-position="bottom" data-delay="10" data-tooltip="Github">
                            <i class="fa fa-github-square fa-2x"></i>
                        </a>
                    </ul>


                    <!--Mobile Side Navigation-->
                    <ul class="side-nav cs-side-nav" id="mobile-nav">
                        <li><a href="/">Home<i class="fa fa-fw fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="/projects">Projects<i class="fa fa-flask" aria-hidden="true"></i></a></li>
                        <li><a href="/">Blog<i class="fa fa-rss cs-not-available" aria-hidden="true"></i></a></li>
                        <li><a href="/">Life<i class="fa fa-music cs-not-available" aria-hidden="true"></i></a></li>
                        <li><a href="/">Resume<i class="fa fa-info-circle cs-not-available" aria-hidden="true"></i></a></li>
                    </ul>

                    <!--Projects Dropdown Button-->
                    <ul id='dropdown-projects' class='dropdown-content cs-dropdown-projects'>
                        <li ><a href="/projects/bluetoothlights" class="cs-dropdown-item">Bluetooth Lights</a></li>
                        <li class="divider"></li>
                        <li ><a class="cs-dropdown-item">Space Fighter</a></li>
                        <li class="divider"></li>
                        <li ><a href="/projects/hero2" class="cs-dropdown-item">Hero 2.0</a></li>
                        <li class="divider"></li>
                        <li ><a href="/projects/trebuchet" class="cs-dropdown-item">Trebuchet</a></li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</section>