
<section>
    <a-scene class="cs-home" stats="true">
        <!--<a-entity id="background-music" position="0 0 0" autoplay="true"-->
        <!--sound="src: ../assets/music/floret.mp3"></a-entity>-->

        <template is="a-template" element="a-star">
            <a-cube color="white" depth=".1" height=".1" width=".1" position="0 0 0"></a-cube>
        </template>


        <a-assets>
            <img id="t0" src="../assets/images/projects/trebuchet/trebuchet21.jpg">
            <img id="t1" src="../assets/images/projects/trebuchet/trebuchet22.jpg">
            <img id="t2" src="../assets/images/projects/trebuchet/trebuchet23.jpg">
            <img id="t3" src="../assets/images/projects/trebuchet/trebuchet24.jpg">
            <img id="t4" src="../assets/images/projects/trebuchet/trebuchet25.jpg">
            <img id="t5" src="../assets/images/projects/trebuchet/trebuchet26.jpg">
            <img id="t6" src="../assets/images/projects/trebuchet/trebuchet27.jpg">
            <img id="t7" src="../assets/images/projects/trebuchet/trebuchet28.jpg">
            <img id="t8" src="../assets/images/projects/trebuchet/trebuchet29.jpg">
        </a-assets>

        <!--<a-entity id="background-music" position="0 0 0"-->
        <!--sound="src: ../assets/music/floret.mp3; autoplay: true"></a-entity>-->

        <!--Left Photos-->
        <a-entity rotation="335 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet21.jpg" position="0 -1 3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="335 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet22.jpg" position="-5 -1 3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="335 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet23.jpg" position="-10 -1 3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="335 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet24.jpg" position="-15 -1 3" width="4" height="3"></a-image>
        </a-entity>

        <!--Right Photos-->
        <a-entity rotation="25 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet25.jpg" position="0 -1 -3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="25 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet26.jpg" position="-5 -1 -3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="25 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet27.jpg" position="-10 -1 -3" width="4" height="3"></a-image>
        </a-entity>

        <a-entity rotation="25 260 0">
            <a-image src="../assets/images/projects/trebuchet/trebuchet28.jpg" position="-15 -1 -3" width="4" height="3"></a-image>
        </a-entity>
        <!--<a-image src="#t2" position=".9 0 1" width="200" height="100"></a-image>-->
        <!--<a-image src="#t3" position=".8 0 1" width="200" height="100"></a-image>-->
        <!--<a-image src="#t4" position=".7 0 1" width="200" height="100"></a-image>-->
        <!--<a-image src="#t5" position=".6 0 1" width="200" height="100"></a-image>-->
        <!--<a-image src="#t6" position=".5 0 1" width="200" height="100"></a-image>-->
        <!--<a-image src="#t7" position=".4 0 1" width="200" height="100"></a-image>-->


        <a-sky color="#0F1523"></a-sky>
        <a-camera id="camera" cursor-visible="false" position="0 -.5 5"></a-camera>

    </a-scene>
    <!--<div class="cs-home">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col s5">-->
    <!--<ul class="cs-home-btn-wrapper">-->
    <!--<li ui-sref="main.projects" class="cs-home-btn cs-home-projects">Projects</li>-->
    <!--<li ui-sref="main.skills" class="cs-home-btn cs-home-skills">Skills</li>-->
    <!--<li ui-sref="main.experience" class="cs-home-btn cs-home-experience">Experience</li>-->
    <!--<li ui-sref="main.life" class="cs-home-btn cs-home-life">Life</li>-->
    <!--<li ui-sref="main.contact" class="cs-home-btn cs-home-contacts">Contact</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</section>
