<div class="col s6 m4 l4">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title truncate">{{skill.name}}</span>
        </div>
        <div class="container cs-full-width">
            <div class="card-action cs-skills-card-chip-holder">
                <div class="cs-skills-card-text">Related Projects</div>
                <div class="row cs-skills-card-projects">
                    <div ng-repeat="project in skill.projects">
                        {% for project in site.data.data.projects %}
                            {% include alt/chip.html %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>